<div class="banner"></div>

<h3>TV Shows and Movies</h3>
<div class="grid grid-pad">
  <a *ngFor="let content of movies" class="col-1-4"
     routerLink="/movie/{{content.id}}">
    <div class="module hero">
      <h4>{{content.name}}</h4>
    </div>
  </a>
</div>


<h3>Comedies and Sci Fi</h3>
<div class="grid grid-pad">
  <a *ngFor="let content of movies" class="col-1-4"
     routerLink="/movie/{{content.id}}">
    <div class="module hero">
      <h4>{{content.name}}</h4>
    </div>
  </a>
</div>


<h3>New Movies</h3>
<div class="grid grid-pad">
  <a *ngFor="let content of movies" class="col-1-4"
     routerLink="/movie/{{content.id}}">
    <div class="module hero">
      <h4>{{content.name}}</h4>
    </div>
  </a>
</div>

<!--
<movieshero-search></movieshero-search>
-->
